<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HotGame - Games</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<style>
    * {
        font-family: 'Open Sans', sans-serif;
    }
    body {
        
        padding: 0px;
        margin: 0px;

        display: flex; 
        flex-direction: column;
        align-items: center;
    }
    header {
        background-color: #ff006a;
        
        padding: 10px 40px 10px 40px;

        display: flex; 
        align-items: center;
        justify-content: space-between;

        width: 100%;
    }
    .logo {
        font-size: 18px;
        font-weight: 800;
        color: white;
        margin-left: 30px;
    }
    .navv {
        margin-right: 30px;
    }
    a {
        text-decoration: white;
        color: white;
        margin-left: 20px;
    }
    .main {
        width: 70%;
        margin-top: 50px;
    }
    .bold {
        font-weight: 700;
    }
    .game_item {
        margin-top: 30px;
        padding: 20px;
        border: solid 2px #ff006a;

        display: flex;   
        justify-content: space-between;
    }
    .fgbtn {
        padding: 10px 20px 10px 20px; 
        background-color: #ff006a;
        color:white;
        font-weight: 800;
        height: 20px;;
    }
</style>
<body>
    <header>
        <p class="logo">HotGame</p>
        <div class="navv">
            <a href="/">Игры</a>
            <a href="/news">Новости</a>
            <a href="/about">О нас</a>
        </div>
    </header>

    <div class="main">
        {{#each gg}}
        <div class="game_item">
            <div>
                <p class="bold">{{this.name}}</p>
                <p>Платформа: <span class="bold">{{this.platform}}</span></p>
                <p>Жанр: <span class="bold">{{this.genre}}</span></p>
            </div>
            <a class="fgbtn" href="/follow_game/{{this.id}}">Следить за игрой</a>
        </div>
        {{/each}}
    </div>
</body>
</html>